.footer{
    background: #fff;
    width: 100%;
    border: 1px solid #e8e7e8;
    box-sizing: border-box;
    margin-top: 100px;
    .footer-container{
        display: flex;
        flex-direction: column;
        padding: 100px 150px;
        padding-bottom: 50px;
        gap: 100px;
        @media screen and (max-width: 768px){
            padding: 1.5rem;
            padding-top: 2.5rem;
        }
        @media screen and (min-width: 768px) and (max-width: 1024px){
            padding: 58px 56px;

        }
        .footer-top{
            display: flex;
            justify-content: space-between;
            @media screen and (max-width: 768px){
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
            .col-1, .col-2, .col-3, .col-4{
                display: flex;
                flex-direction: column;
                gap: 40px;
                div{
                    
                    h4{
                        text-transform: uppercase;
                        font-size: 14px;
                        font-weight: 600;
                        letter-spacing: 1px;
                        margin-bottom: 17px;
                        color: #3b3a40;
                        font-family: 'Poppins', sans-serif;
                    }
                    ul{
                        list-style: none;
                        padding: 0;
                        li{
                            font-weight: 400;
                            font-size: 14px;
                            letter-spacing: 0.1px;
                            color: #64626a;
                            line-height: 34px;
                            font-family: 'Inter', sans-serif;
                        }
                    }
                    .socials{
                        display: flex;
                        align-items: center;
                        gap: 24px;
                    }
                }
            }
        }
        .footer-bottom{
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media screen and (max-width: 768px){
                flex-direction: column;
                align-items: start;
            }
            .footer-bottom-left{
                display: flex;
                align-items: center;
                gap: 50px;
                color: #64626a;
                font-weight: 400;
                font-family: 'Inter', sans-serif;
                font-size: 12px;
                line-height: 15px;
                @media screen and (max-width: 768px){
                    flex-wrap: wrap;
                    row-gap: 1rem;
                }
                @media screen and (min-width: 768px) and (max-width: 1024px){
                    gap: 1.5rem;
    
                }
            }
            .footer-bottom-right{
                display: flex;
                align-items: center;
                gap: 1rem;
                color: #64626a;
                font-size: 12px;
                font-weight: 400;
                font-family: 'Inter', sans-serif;
                @media screen and (max-width: 768px){
                    margin-top: 2rem;
                }
            }
        }
    }
}